/* Base colors */
:root {
    --primary-color: #003A66; /* Dark Blue */
    --secondary-color: #1A7766; /* Teal */
    --accent-color: #97BCD9;   /* Light Blue */
    --background-color: #EAEAC2; /* Light Beige */
    --text-color: #524E41;     /* Dark Beige */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    margin-top: 20px;
}

.profile-text {
    text-align: center;
    margin-bottom: 20px;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: #fff;
}


.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--accent-color);
    background: var(--background-color);
}

.profile-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
}


.custom-file-upload {
    border: 2px solid var(--primary-color);
    background: var(--background-color);
    color: var(--primary-color);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.custom-file-upload:hover {
    background: #f0f0f0;
}


.form-control {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.rounded-input {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}


.btn-rounded {
    border-radius: 5px;
}

.btn-edit {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-edit:hover {
    background-color: #155D5A;
}

.btn-change-password {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-change-password:hover {
    background-color: #002E53;
}

.btn-save {
    background-color: #28a745;
    color: #fff;
}

.btn-save:hover {
    background-color: #218838;
}

.btn-cancel {
    background-color: #dc3545;
    color: #fff;
}

.btn-cancel:hover {
    background-color: #c82333;
}


.footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 20px;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.help-footer {
    margin-top: 10px;
}
